{% extends "base.html" %}
        {% block head %}
    <title>NOT FOUND</title>
    <style>
        body {
            background-color: orange;
            margin-top: 0;
            font-family: 'Lilita One', cursive;
            font-size: 16px;
        }

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            padding: 20px;
            width: 90%;
            max-width: 800px;
            text-align: center;
            font-family: 'Lilita One', cursive;
            font-size: 3em;
            color: #ffffff;
            margin: auto;
        }

        .popup h2 {
            font-size: 1.8em;
            margin: 5%;
        }

        .popup p {
            font-size: 0.8em;
            margin: 0 0;
        }

        .popup img {
            max-width: 50%;
            height: auto;
        }
        @media only screen and (max-width: 768px) {
            .popup {
                font-size: 1.5em;
            }
            .popup h2 {
                font-size: 1.8em;
            }
            .popup p {
                font-size: 1.3em;
            }
        }
        @media only screen and (max-width: 480px) {
            .popup {
                font-size: 1.2em;
            }
            .popup h2 {
                font-size: 1.5em;
            }
            .popup p {
                font-size: 1em;
            }
        }
    </style>   
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">  
          <div class="popup">
            <img src="{{url_for('static', filename='img/user.png')}}" alt="" class="img-fluid">
            <h2>ESTUDANTE NÃO ENCONTRADO!</h2>
            <p>Procure um servidor para verificar sua situação cadastral!</p>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
